<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>UC001 - EDITAR ENTREGAS</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet prefetch' href='https://unpkg.com/vue-material@latest/dist/vue-material.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div id="app">
  <md-toolbar id="painel">
    <md-button class="md-icon-button">
      <md-icon>menu</md-icon>
    </md-button>
    <h1 class="md-title">TADS Delivery System</h1>
  </md-toolbar>

  <!-- FILTRO -->
  <div class="main-content">
    <md-card>
      <md-card-header>
        <div class="md-title">Editar Entregas</div>
      </md-card-header>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label for="filtro">Selecionar entregas por...</label>
          <md-select name="filtro" id="filtro" v-model="filtro">
            <md-option value="dtatual">Data atual</md-option>
            <md-option value="perdt">Período de datas</md-option>
            <md-option value="pednresolv">A entregar</md-option>
          </md-select>
        </md-input-container>

        <md-layout md-gutter>
          <md-layout>
            <md-input-container>
              <label>Data Inicial</label>
              <md-input type="date" name="dt-inicial"></md-input>
            </md-input-container>
          </md-layout>
          <md-layout>
            <md-input-container>
              <label>Data Final</label>
              <md-input type="date" name="dt-final"></md-input>
            </md-input-container>
          </md-layout>
          <md-layout>
            <div class="radio">
              <label><input type="radio" name="radioopt">Minhas entregas</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="radioopt">Entregas abertas</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="radioopt">Entregas concluídas</label>
            </div>
          </md-layout>
        </md-layout>
        <md-button class="md-raised md-primary bt-align" id="filtrar">Filtrar</md-button>
      </form>
    </md-card>
  </div>

  <!-- LISTA DE PEDIDOS -->
  <div class="main-content-table">
    <md-card>
      <md-table v-once>
        <md-table-header>
          <md-table-row>
            <md-table-head></md-table-head>
            <md-table-head>Data Pedido</md-table-head>
            <md-table-head>ID Pedido</md-table-head>
            <md-table-head>Cliente</md-table-head>
            <md-table-head>Endereço</md-table-head>
            <md-table-head>Entregador</md-table-head>
            <md-table-head>Entregue</md-table-head>
            <md-table-head>Data Entrega</md-table-head>
             <md-table-head>Cancelado</md-table-head>
            <md-table-head>Data Cancelamento</md-table-head>
             <md-table-head>Entrega Frustrada</md-table-head>
            <md-table-head>Data Frustração</md-table-head>
             <md-table-head>Justificativa</md-table-head>
             <md-table-head>Observação</md-table-head>
          </md-table-row>
        </md-table-header>

        <md-table-body>
          <md-table-row v-for="(row, index) in 5" :key="index" md-selection>
            <md-table-cell>01/01/2017</md-table-cell>
            <md-table-cell>00000</md-table-cell>
            <md-table-cell>John Doe</md-table-cell>
            <md-table-cell>Rua XV, 15</md-table-cell>
            <md-table-cell>Sr. Entregador</md-table-cell>
            <md-table-cell>sim</md-table-cell>
            <md-table-cell>17/09/2017</md-table-cell>
            <md-table-cell></md-table-cell>
            <md-table-cell></md-table-cell>
            <md-table-cell></md-table-cell>
            <md-table-cell></md-table-cell>
            <md-table-cell></md-table-cell>
            <md-table-cell>obs.</md-table-cell>
          </md-table-row>
        </md-table-body>
      </md-table>
    </md-card>
    <md-button class="md-raised md-primary bt-align" id="confirmar">Confirmar
    </md-button>
    <md-button class="md-raised md-primary bt-align" id="problema">Informar problema
    </md-button>
    <md-button class="md-raised md-primary bt-align" id="cancelar">Cancelar
    </md-button>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js'></script>
<script src='https://unpkg.com/vue-material@latest'></script>

    <script  src="js/index.js"></script>

</body>
</html>
